<% if tweet.favorited_by?(current_user) %>
  <%= link_to tweet_favorites_path(tweet), method: :delete, class: "text-decoration-none level-item", remote: true do %>
    <span class="icon"><i class="fas fa-heart"></i><%= tweet.favorites.count %></span>
  <% end %>
<% else %>
  <%= link_to tweet_favorites_path(tweet), method: :post, class: "text-decoration-none level-item", remote: true do %>
    <span class="icon"><i class="far fa-heart"></i><%= tweet.favorites.count %></span>
  <% end %>
<% end %>