<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <%= render 'profile', user: @user %>
      </div>
      <div class="column is-half-desktop is-full-tablet">
        <%= render 'tweets/form', tweet: @tweet, categories: @categories %>
        <div class="jscroll">
          <%= render 'tweets/index', tweets: @tweets, tweet: @tweet %>
        </div>
      </div>
      <div class="column is-one-quarter">
        <%= render 'categories', categories: @categories %>
      </div>
    </div>
  </div>
  <div id="page_top"><a href="#"></a></div>
</section>
