<div class="column fixed category">
  <nav class="panel">
    <p class="panel-heading">カテゴリー一覧</p>

    <% categories.each do |category| %>
      <%= link_to tweet_category_path(category) do %>
        <div class="panel-block category-hover">
          <article class="media">
            <div class="media-left">
              <figure class="image is-32x32">
                <img src="https://bulma.io/images/placeholders/64x64.png">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p><strong>
                  <%= category.name %>
                </strong></p>
              </div>
            </div>
          </article>
        </div>
      <% end %>
    <% end %>

  </nav>
</div>