<div class="column is-half">
  <nav class="panel">
    <p class="panel-heading">ツイートする</p>
  <% if user_signed_in? %>
    <article class="media box">
      <div class="media-content">
        <%= render 'tweets/form', tweet: @tweet, categories: @categories %>
      </div>
    </article>
  <% end %>

 <%= render 'tweets/index', tweets: @tweets %>
  </nav>
</div>