<div class="column is-half-multiline is-half-mobile is-half-tablet is-half-desktop">
  <nav class="panel">
    <%= render 'tweets/form', tweet: @tweet, categories: @categories %>
    <%= render 'tweets/index', tweets: @tweets, tweet: @tweet %>
  </nav>
</div>