<section class="section">
  <div class="container">
  	<div class="columns is-centered">
  	  <div class="column is-6">
  	     <h2 class="title is-3">下書き一覧</h2>
  	     <%= render 'tweets/index',tweets: @tweets, tweet: @tweet %>
  	    <%= link_to 'Back', tweets_path, class: "button is-warning is-light" %>
  	  </div>
    </div>
  </div>
</section>