<div class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-half">
				<h1 class="title">ツイートを編集する</h1>
				<%= render 'form', tweet: @tweet, categories: @categories %>
				<p class="control mt-5">
					<%= link_to 'Cancel', :back, class: "button is-dark" %>
				</p>
			</div>
		</div>
	</div>
</div>