<section class="section">
  <div class="container">
    <div class="columns">
      <% if user_signed_in? %>
        <%= render 'profile', user: @user %>
      <% end %>
      <%= render 'feed', user: @user %>
      <%= render 'categories', categories: @categories %>
    </div>
  </div>
</section>
