<section class="section">
  <div class="container">
  	<div class="columns is-centered">
  	  <div class="column is-8">
  	    <h2 class="title is-3">マイアクションプラン一覧</h2>
  	      <div id="myfavorite_table">
            <%= render 'tweets/myfavorite', comment: @comment, tweet: @tweet, comment_favorites: @comment_favorites %>
          </div>
  	   　 <br>
  	     <%= link_to 'Back', tweets_path, class: "button is-warning is-light" %>
  	  </div>
    </div>
  </div>
</section>