<section class="section">
  <div class="container">
    <div class="col-8 mx-auto">
      <h2 class="title is-3">通知一覧</h2>
      <% if @notifications.exists? %>
        <div>
          <%= render @notifications %>
        </div>
      <% else %>
        <p class="text-center h5">通知はありません</p>
      <% end %>
      <br>
      <%= link_to 'Back', tweets_path %>
    </div>
  </div>
</section>