<section class="section">
  <h3 class="text-center h3">通知</h3>
  <div class="container">
    <div class="col-8 mx-auto">
      <% if @notifications.exists? %>
        <div>
          <%= render @notifications %>
        </div>
      <% else %>
        <p class="text-center h5">通知はありません</p>
      <% end %>
    </div>
    <div class="col-3"></div>
  </div>
</section>