<section class="section">
<div class="container">
	<div class="columns is-centered">
	  <div class="column is-6">
      <div class="center-block">
        
      <div>フォロワー</div>

      <% @user.follower_user.each do |user| %>

      <div class="box mx-auto mb-5">
        <article class="media">
          <div class="media-left">

            <%= link_to user_path(user.id) do %>
            <figure class="image is-64x64">
               <%= attachment_image_tag user, :profile_image, size: "64x64", format: 'jpeg', fallback: "logo.png" %>
            </figure>
            <% end %>
          </div>
          <div class="media-content">
            <div class="content">
              <strong><%= user.name %></strong><br>
              <small><%= user.username %></small><br>
            </div>
          </div>

          </div>
        </article>
      </div>

    <% end %>

     </div>
   </div>
  </div>
</div>
</section>