<section class="section">
  <div class="container">
  	<div class="columns is-centered">
  	  <div class="column is-6">
        <p class="font-weight-bold">フォロー中</p>
        <% if @user.follower_user.exists? %>
          <%= render 'follow_user', user: @user.follower_user %>
        <% else %>
          <p class="text-center is-size-4">フォローしているユーザーはいません</p>
        <% end %>
      <br>
      <%= link_to 'Back', 'javascript:history.back()', class: "button is-warning is-light" %>
      <!--:backだと:back同士で同じページを行き来してしまうので、上記を使う-->
     </div>
    </div>
  </div>
</section>