<section class="section">
<div class="container">
	<div class="columns is-centered">
	  <div class="column is-6">
      <div class="center-block">
        
      <p class="font-weight-bold">フォロー中</p>

      <% @user.following_user.each do |user| %>
    
      <div class="box mx-auto mb-5">
        <article class="media">
          <div class="media-left">
              
            <%= link_to user_path(user.id) do %>
            <figure class="image is-64x64">
               <%= gravatar_image_tag(user.email, size: 64, alt: user.name) %>
            </figure>
            <% end %>
          </div>
          <div class="media-content">
            <div class="content">
              <strong><%= user.name %></strong><br>
              <small><%= user.username %></small><br>
            </div>
          </div>
    
          </div>
        </article>
      </div>
    
    <% end %>

     </div>
   </div>
  </div>
</div>
</section>