<section class="section">
  <div class="container">
  	<div class="columns is-centered">
  	  <div class="column is-half-desktop is-full-tablet">
  	    <% if user_signed_in? && @user == current_user %>
          <h2 class="title is-3">フォロワー</h2>
        <% else %>
          <h2 class="title is-3"><%= @user.name %>さんのフォロワー</h2>
        <% end %>
        <% if @user.follower_user.exists? %>
          <%= render 'follow_user', users: @user.follower_user %>
        <% else %>
          <p class="text-center is-size-4">フォロワーはいません</p>
        <% end %>
        <br>
        <%= link_to 'Back', 'javascript:history.back()', class: "button is-warning is-light" %>
      </div>
    </div>
  </div>
</section>