    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 head-m" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top"></a>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#masthead">トップ</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">Wisdomとは</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Wisdomのメリット</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">お問い合わせ</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-white font-weight-bold">あなたの知識は誰かの知恵に</h1><br>
                        <h1 class="text-white font-weight-bold">誰かの知識はあなたの知恵に</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 font-weight-light mb-5">知識は知恵にすることで真価を発揮する</p>
                        <a class="button is-link btn-xl" href="#about">詳しく</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- Wisdomとは-->
        <section class="page-section about" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0 h2">Wisdomとは</h2>
                        <hr class="divider light my-4" />
                        <p class="text-white-50 mb-4">
                        誰もが様々な知識を持っています。しかし、知っているというだけでは現状を変えることはできません。<br>
                        その知識を行動や経験を通して、知恵にすることでステップアップすることができます。<br>
                        しかし、どのような行動を起こすべきなのか、判断が難しいところがあります。<br>
                        Wisdomでは、知識を共有しながら、かつ、実際に行うべき行動指針も共有することができます。<br>
                        知識と知恵を得ながら、インプットとアウトプットのスパイラルを起こし、誰もが成長できる場です。
                        </p>
                        <a class="button is-warning btn-xl" href="#services">具体的にどんなメリットがある？</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- メリット-->
        <section class="page-section services" id="services">
            <div class="container">
                <h2 class="text-center mt-0 h2">Wisdomの主なメリット</h2>
                <hr class="divider my-4" />
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-gem text-primary mb-4"></i>
                            <h3 class="h4 mb-2">知識のインプット</h3>
                            <p class="text-muted mb-0">様々な知識の閲覧ができます。個人ならではのニッチな情報を入手できます。<br>
                            また、カテゴリーを絞ることで、より求める情報がスピーディに入手できます。</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                            <h3 class="h4 mb-2">知識のアウトプット</h3>
                            <p class="text-muted mb-0">自分の持っている知識をつぶやくことができます。言語化することで、より自身の血肉となります。<br>
                            その知識が他の人の一助となります。</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-running text-primary mb-4"></i>
                            <h3 class="h4 mb-2">具体的な行動指針の共有</h3>
                            <p class="text-muted mb-0">知識に対しての具体的な行動指針をコメントいただけます。<br>
                            実際に人生を変えるための一歩のヒントを得られます。SNSだからこそ最新のアウトプット方法を得る機会が生まれます。</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                            <h3 class="h4 mb-2">良質な人間関係の形成</h3>
                            <p class="text-muted mb-0">つぶやき・コメントは人生をより良くするための知識や行動指針です。<br>
                            誰もが成長するため、向上心の高いユーザーと繋がることができます。</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- お客様の声-->
        <section class="page-section bg-dark text-white">
            <h2 class="mb-5 text-center h2">お客様の声</h2>
            <div class="container text-center">
                <ul class="slider">
                  <li><h3 class="black font-weight-bold"><span>20代/会社員</span>皆さんのいろんな知識を吸収することで、新たな発見が必ずあります！</h3></li>
                  <li><h3 class="black font-weight-bold"><span>30代/経営者</span>私の知識が誰かのためになっているんだなと思うと自信が湧いてきます！</h3></li>
                  <li><h3 class="black font-weight-bold"><span>40代/会社員</span>起こすべき行動が明確になり、充実した毎日を送っています！</h3></li>
                </ul>
            </div>
        </section>
        <!-- お問い合わせ-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0 h2">お問い合わせ</h2>
                        <hr class="divider my-4" />
                        <p class="text-muted mb-5">分からない点や要望などございましたらご連絡ください。</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                        <%= link_to contact_path do %>
                          <div class="d-block">お問合わせ</div>
                        <% end %>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5">
            <div class="container"><div class="small text-center text-white text-">Copyright © 2021 - Wisdom</div></div>
        </footer>
        <!--リロードしてもスライダーが起動するため-->
        <script>
        document.addEventListener("turbolinks:load", function(){
            sliderSet();
        });
        </script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script>
        <script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/9-4-1/js/9-4-1.js"></script>
    </body>
</html>