/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ccccff;
}

.navbar-brand .title {
  color: white;
}

.navbar {
  background-color: navy;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
　width: 1170px;
}

.control {
  color: #483D8B;
}

.image {
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.container,.d{
  margin-top: 40px;
}

.button {
  transition : 1s;
}

.button:hover {
  background-color: #000;
  color: #fff;
  transition : 1s;
}

// 無限スクロール用
nav.pagination {
  display: none;
}

.toggle_btn {
  height: 0;
}

@media screen and (min-width: 1001px){

ul.bottom-menu {
  display: none;
}

}

@media screen and (max-width: 1000px){

.navbar-brand {
  display: none;
}

.navbar {
  background-color: #000;
  z-index: 3;
}

.is-one-quarter {
	display: none;
}

ul.bottom-menu {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
  z-index: 30;
}

ul.bottom-menu li {
  float: left;
  width: 25%;
  background-color: #f5f5f5;
  list-style-type: none;
  text-align: center;
  font-size: 60px;
}

.bottom-menu li a {
  display: block;
  color: #808080;
  padding-top: 10px;
  padding-bottom: 5px;
  line-height: 200px;
  text-decoration: none;
}

ul.menu-second-level {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

li.menu-width-max:hover .menu-second-level {
  position: absolute;
  bottom: 180px;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  visibility: visible;
  opacity: 1;
}

li.menu-width-max:hover .category-btn {
  height: 70px;
  padding-top: 0;
}

.category-btn {
  background-color: #fff;
}

.input {
  font-size: 40px;
}

.navbar-item {
  display: block;
  position: fixed;
  top: 0;
  left: -500px;
  bottom: 0;
  width: 500px;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: .5s;
  z-index: 3;
}

.open .navbar-item {
  left: 0;
}
.navbar-item .is-grouped {
  padding: 25px;
  display: block;
}
.navbar-item .is-grouped .control {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar-item .is-grouped .control {
  position: relative;
  border-bottom: 1px solid #333;
}
.navbar-item .is-grouped .control a {
  color: #333;
  font-size: 40px!important;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
  border-width: 0;
  margin-top: 50px;
}
.navbar-item .is-grouped .control a:hover {
  background: #e4e4e4;
}

.toggle_btn {
  display: block;
  position: fixed;
  top: 70px;
  right: 70px;
  width: 30px;
  height: 70px;
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
}
.open .toggle_btn {
  right: 70px;
}
.toggle_btn span {
  display: block;
  position: absolute;
  left: 0;
  width: 70px;
  height: 2px;
  background-color: #C0C0C0;
  border-radius: 4px;
  transition: all .5s;
}
.toggle_btn span:nth-child(1) {
  top: 4px;
}
.toggle_btn span:nth-child(2) {
  top: 35px;
}
.toggle_btn span:nth-child(3) {
  bottom: 4px;
}
.open .toggle_btn span {
  background-color: #fff;
}
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(30px) rotate(-315deg);
  transform: translateY(30px) rotate(-315deg);
}
.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translateY(-30px) rotate(315deg);
  transform: translateY(-30px) rotate(315deg);
}

#mask {
  display: none;
  transition: all .5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 2;
  cursor: pointer;
}

}