/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bulma";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ccccff;
}

.navbar-brand .title {
  color: white;
}

.navbar {
  background-color: navy;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
　width: 1170px;
}

.control {
  color: #483D8B;
}

.image {
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

.notification:not(:last-child) {
  margin-bottom: 0;
}

.container,.d{
  margin-top: 40px;
}

.button {
  transition : 1s;
}

.button:hover {
  background-color: #000;
  color: #fff;
  transition : 1s;
}

// 無限スクロール用
nav.pagination {
  display: none;
}

@media screen and (min-width: 1001px){

ul.bottom-menu {
  display: none;
}

}

@media screen and (max-width: 1000px){

.navbar-brand {
  display: none;
}

.navbar {
  justify-content: flex-end;
}

.is-one-quarter {
	display: none;
}

ul.bottom-menu {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
  z-index: 30;
}

ul.bottom-menu li {
  float: left;
  width: 25%;
  background-color: #f5f5f5;
  list-style-type: none;
  text-align: center;
  font-size: 30px;
}

.bottom-menu li a {
  display: block;
  color: #808080;
  padding-top: 10px;
  padding-bottom: 5px;
  line-height: 70px;
  text-decoration: none;
}

ul.menu-second-level {
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

li.menu-width-max:hover .menu-second-level {
  position: absolute;
  bottom: 100px;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  visibility: visible;
  opacity: 1;
}

li.menu-width-max:hover .category-btn {
  height: 70px;
  padding-top: 0;
}


}