// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.section {
  background: #CCCCFF;
}

.panel-block {
  background: white;
}

.category-hover:hover {
  background-color: #000080;
  color: #fff;
  transition : 1s;
}

select {
  background-color: #E5E5E5;
  color: #000;
  border-radius: 3px;
  border: 1px solid;
  border-color: #000;
}

.btn {
  font-weight: 700;
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #212529;
}

.btn-flat {
  overflow: hidden;
  padding: 10px;
  color: #fff;
  border-radius: 1;
  background: #000;
}

.btn-flat span {
  position: relative;
}

.btn-flat:before {
  position: absolute;
  width: 150%;
  height: 500%;
  content: "";
  transition: all 0.5s ease-in-out;
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
  background: #00b7ee;
}

.btn-flat:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

@media screen and (max-width: 768px) {

  .is-one-quarter {
    display: none;
  }

  // .is-mobile {
  //   display: flex;
  // }

  // .is-half {
  //   width: 70% !important;
  // }

  // .category {
  //   width: 30% !important;
  // }


}