// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.section {
  background: #CCCCFF;
}

.panel-block {
  background: white;
}

.category-hover:hover {
  background-color: #000080;
  color: #fff;
  transition : 1s;
}

select {
  background-color: #E5E5E5;
  color: #000;
  border-radius: 3px;
  border: 1px solid;
  border-color: #000;
}

@media screen and (max-width: 768px) {
  
  .category .is-one-quarter {
    display: none;
  }
  
  .is-mobile {
    display: flex;
  }
  
  
  
}