// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 1000px) {

  .panel {
    font-size: 2rem !important;
  }

  .heading {
    font-size: 1.5rem !important;
  }

  .title {
    font-size: 2rem !important;
  }

  .tag {
    font-size: 1rem !important;
  }

  .f-btn {
    font-size: 1.5rem !important;
  }
  
  .is-64x64 {
    margin-left: 0;
  }

}